# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
import csv
#
# import API key
from api_keys import g_key

import requests

url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Museum%20of%20Contemporary%20Art%20Australia&inputtype=textquery&fields=formatted_address%2Cname%2Crating%2Copening_hours%2Cgeometry&key=g_key"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# load the csv
data = pd.read_csv("/Users/siyuanliang/BootCamp_University/Python-api-challenge/WeatherPy/Whether.csv")
data

,Unnamed: 0,City_ID,City,City Country,City date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,1,ewa beach,US,1665215568,21.3156,-158.0072,78.75,75,100,5.75
1,1,2,tuatapere,NZ,1665215568,-46.1333,167.6833,47.75,75,94,5.82
2,2,3,chokurdakh,RU,1665215569,70.6333,147.9167,23.50,88,100,24.34
3,3,4,albany,US,1665215317,42.6001,-73.9662,46.51,79,100,8.84
4,4,5,rikitea,PF,1665215569,-23.1203,-134.9692,71.24,66,3,20.83
...,...,...,...,...,...,...,...,...,...,...,...
559,559,560,hambantota,LK,1665215380,6.1241,81.1185,95.34,46,40,11.50
560,560,561,keskin,TR,1665215348,39.6731,33.6136,51.37,80,100,1.21
561,561,562,vestmannaeyjar,IS,1665215380,63.4427,-20.2734,47.07,85,100,10.00
562,562,563,road town,VG,1665215105,18.4167,-64.6167,80.69,75,3,17.81
563,563,564,aldan,RU,1665215108,58.6031,125.3894,24.76,92,100,6.29

In [16]:
x = zip(data['Lat'],data['Lng'])
oldlist = list(x)
oldlist

[(21.3156, -158.0072),
 (-46.1333, 167.6833),
 (70.6333, 147.9167),
 (42.6001, -73.9662),
 (-23.1203, -134.9692),
 (-17.7125, -39.2481),
 (47.3821, -61.8597),
 (40.5719, 9.6922),
 (20.6167, -88.2167),
 (31.2156, 29.9553),
 (62.456, -114.3525),
 (-16.4833, -151.75),
 (-20.4081, 57.7),
 (38.5167, -28.7),
 (-29.1253, -56.5531),
 (21.4612, -71.1419),
 (49.0333, 104.0833),
 (69.7008, 170.3133),
 (47.6469, 53.3463),
 (33.194, -82.5271),
 (3.0707, 172.7902),
 (5.4112, 100.3354),
 (-7.9631, 145.7785),
 (-11.0964, -77.6139),
 (72.7868, -56.1549),
 (20.4487, 121.9702),
 (-54.8, -68.3),
 (9.3503, -65.3245),
 (-33.1833, 138.0167),
 (-7.3817, 108.2082),
 (-6.2222, -57.7528),
 (-28.24, -48.6703),
 (-41.8697, -73.8203),
 (-6.2167, 155.6333),
 (34.6667, 138.95),
 (59.0556, 80.8572),
 (19.7297, -155.09),
 (40.5614, 65.6886),
 (-11.3667, 38.4167),
 (46.4333, 26.4),
 (32.6667, -17.1),
 (68.75, 161.3),
 (40.5982, -124.1573),
 (69.4541, -133.0374),
 (-34.4187, 19.2345),
 (57.0531, -135.33),
 (-20.1883, 32.6236),
 (-42.7826, 147.0587),
 (42.25, -2.5),
 (51.5333, 92.8),
 (52.4675, 96.11),
 (58.6147, 5.6457),
 (71.2906, -156.7887),
 (-33.9258, 18.4232),
 (-27.4556, -53.9319),
 (51.7102, 143.2326),
 (18.8333, 100.6667),
 (-5.6667, 132.75),
 (-46.1927, 168.8643),
 (-9.8, -139.0333),
 (34.1748, -86.8436),
 (-53.15, -70.9167),
 (-33.918, 25.5701),
 (69.3833, 178.4167),
 (-0.7393, -90.3518),
 (49.5341, 38.7307),
 (39.447, -86.1758),
 (68.0531, 39.5131),
 (-37.6167, -73.65),
 (37.0244, 111.9125),
 (50.2696, 85.6108),
 (71.6872, 128.8694),
 (22.0752, -159.319),
 (67.45, 153.6833),
 (-34.7333, 135.8667),
 (13.35, -15.75),
 (65.6145, -37.6368),
 (-33.6971, -53.4616),
 (57.79, -152.4072),
 (-30.7414, 30.455),
 (64.8378, -147.7164),
 (22.8909, -109.9124),
 (-46.6, 168.3333),
 (45.5234, -122.6762),
 (-21.2078, -159.775),
 (-33.5906, 26.891),
 (10.9333, 108.1),
 (55.7435, -97.8558),
 (9.4942, 50.8122),
 (67.667, 12.6934),
 (-21.2, -175.2),
 (37.7149, 68.8346),
 (-23.7, 133.8833),
 (39.05, -27.9833),
 (32.8551, -90.4056),
 (-7.8447, -79.1469),
 (22.6783, -3.9836),
 (-2.5744, 150.7967),
 (25.0213, 37.2685),
 (59.7035, 30.7861),
 (1.6481, 14.5806),
 (71.9667, 102.5),
 (53.1561, 103.0675),
 (11.9214, 109.1591),
 (-20.3428, 57.7575),
 (65.5833, -171.0),
 (-42.8794, 147.3294),
 (-35.3333, -72.4167),
 (60.1025, 32.3019),
 (42.097, -79.2353),
 (37.7167, -25.4333),
 (48.8002, -79.1996),
 (68.7098, -52.8699),
 (73.5069, 80.5464),
 (60.9167, -46.05),
 (55.3422, -131.6461),
 (-2.5333, 112.95),
 (37.9407, 22.9573),
 (47.9417, -97.4337),
 (37.15, 122.3833),
 (-17.7333, -149.15),
 (-29.9533, -71.3436),
 (-24.8667, 113.6333),
 (77.484, -69.3632),
 (42.2506, -75.833),
 (42.2386, -1.764),
 (4.375, -7.7169),
 (32.68, 109.0172),
 (62.55, 155.55),
 (70.8578, 29.0864),
 (34.4506, 40.9171),
 (54.3161, -130.3201),
 (60.1432, -45.2371),
 (-0.7193, 8.7815),
 (56.9064, 118.2631),
 (-21.3585, 55.7679),
 (-20.5167, 57.5167),
 (-37.8333, 140.7667),
 (-34.5322, 20.0403),
 (-9.4333, 159.95),
 (34.6391, -120.4579),
 (1.2391, 23.616),
 (7.9803, 49.8164),
 (-35.6566, -63.7568),
 (50.2001, -66.3821),
 (15.8719, -92.7247),
 (-33.65, 115.3333),
 (1.3292, 172.9752),
 (-33.0117, 17.9442),
 (62.1444, 117.6319),
 (-29.14, -59.2626),
 (64.8569, -147.8028),
 (47.4, 130.3667),
 (66.1451, -65.7125),
 (-3.8004, 102.2655),
 (-2.9248, -39.9167),
 (28.017, -97.5169),
 (51.3223, 42.7678),
 (31.2089, 16.5887),
 (71.9167, 114.0833),
 (48.6375, 38.6428),
 (42.1584, -72.3287),
 (-22.9661, -42.0278),
 (17.4924, 44.1277),
 (-21.3393, 55.4781),
 (-8.8368, 13.2343),
 (-24.7911, -50.0119),
 (34.8014, -106.5436),
 (58.6881, 99.1844),
 (6.9538, -71.8752),
 (-8.103, 156.8419),
 (67.5662, 30.4758),
 (54.9928, 82.4311),
 (-43.3002, -65.1023),
 (25.5198, 90.2201),
 (50.6789, 156.125),
 (7.2737, 28.6822),
 (47.6666, -52.7314),
 (1.7427, 98.7792),
 (18.0384, -71.744),
 (39.4101, -74.3646),
 (5.9667, 8.7063),
 (6.189, -67.4859),
 (-8.4192, 20.7447),
 (-34.0033, 24.7314),
 (41.3712, -73.414),
 (60.2622, 37.9763),
 (-33.8667, 121.9),
 (-14.9003, 50.2788),
 (43.7501, -81.7165),
 (6.7085, 121.9711),
 (-3.6667, 152.4333),
 (63.2909, 18.7153),
 (50.0163, -125.2446),
 (46.6275, 18.6556),
 (65.4167, -52.9),
 (43.4696, -111.9666),
 (-45.5752, -72.0662),
 (-31.4707, 19.776),
 (-8.9266, 125.4092),
 (-45.8667, -67.5),
 (26.5881, 127.9761),
 (19.7, -98.4),
 (-21.0415, -57.8738),
 (-9.4431, 147.1797),
 (18.6853, 12.9164),
 (-28.783, 32.0377),
 (-33.0153, 27.9116),
 (34.0232, -84.3616),
 (18.7369, 7.3853),
 (-3.5534, 143.6268),
 (-28.9833, 153.4167),
 (-30.4, -56.4667),
 (37.5375, 25.1634),
 (-2.0226, 147.2712),
 (-13.7, -76.2167),
 (61.994, -49.6678),
 (-34.0527, 23.3716),
 (51.2585, -80.6094),
 (4.8699, -2.2405),
 (41.2835, -70.0995),
 (-3.4324, 119.3435),
 (3.8167, 117.25),
 (61.1667, 73.1667),
 (70.4692, -68.5914),
 (54.1667, 93.3),
 (41.7597, 86.1469),
 (-33.4166, 149.5806),
 (35.1333, 140.3),
 (56.4088, 103.1106),
 (69.4865, 88.3972),
 (35.7333, 140.8333),
 (45.0205, -93.218),
 (60.4167, 134.5333),
 (-30.1811, -50.2056),
 (-20.7377, 116.8463),
 (-7.5833, 31.2667),
 (25.8, 113.0333),
 (31.4167, 130.3167),
 (45.1667, 10.7833),
 (26.5412, -77.0636),
 (-3.6954, 128.1814),
 (10.2849, 22.7882),
 (52.4201, 136.4853),
 (4.1363, 96.1285),
 (-5.3166, 119.3661),
 (60.7522, -137.5108),
 (-24.1333, 19.1167),
 (-21.6403, -41.0511),
 (53.5739, 142.9478),
 (41.5946, 44.0891),
 (-3.8367, -62.0569),
 (60.0973, 19.9348),
 (-0.6, 73.0833),
 (40.1629, -8.3327),
 (47.6319, 30.9885),
 (-35.6167, 174.5),
 (59.7, 150.1667),
 (9.8167, 80.2333),
 (37.4636, -122.4286),
 (32.6398, 73.722),
 (62.5353, 113.9611),
 (-8.145, 159.5921),
 (-39.6333, -72.3333),
 (-20.3167, 118.5667),
 (24.6877, 46.7219),
 (44.6453, -63.5724),
 (58.5198, 64.5495),
 (60.3778, 92.6267),
 (22.2855, 114.1577),
 (69.4719, 25.5112),
 (-22.4333, -151.3333),
 (41.7178, -8.8571),
 (28.0667, 95.3333),
 (-23.65, -70.4),
 (33.4006, 49.6949),
 (24.7672, -107.6944),
 (37.3482, 59.6143),
 (10.7, 37.0667),
 (20.5022, -10.0711),
 (-23.35, 47.6),
 (61.9449, 76.6625),
 (-0.9492, 100.3543),
 (39.4547, 75.9797),
 (28.6803, 121.4428),
 (23.8333, 84.1167),
 (5.7947, 0.8973),
 (33.3703, -112.5838),
 (-4.2658, 15.2832),
 (66.8333, 70.8333),
 (54.05, 13.7667),
 (32.3754, 15.0925),
 (41.9563, 42.9566),
 (66.5606, 67.7975),
 (9.5046, 35.5019),
 (-19.55, 169.2667),
 (-2.9022, -40.8411),
 (47.4333, 24.4),
 (43.4501, -76.1497),
 (-26.6481, 15.1594),
 (-20.2333, 164.0167),
 (50.5167, 115.1333),
 (63.05, 179.3167),
 (-5.0892, -81.1144),
 (65.282, -126.8329),
 (61.0784, 44.6075),
 (7.7733, 81.6095),
 (-37.3217, -59.1332),
 (-32.5, 137.7667),
 (-38.3667, 178.3),
 (10.9995, 122.6711),
 (43.6475, 111.9767),
 (13.2167, 80.3167),
 (58.4333, -3.0833),
 (31.61, 34.7642),
 (-10.6, -38.3833),
 (17.0151, 54.0924),
 (27.6667, -105.1667),
 (47.8043, 67.7144),
 (40.8021, -124.1637),
 (24.6333, -101.4167),
 (27.9167, 96.1667),
 (46.4856, 135.8833),
 (18.3851, 42.4509),
 (68.3499, -133.7218),
 (17.9583, -102.2),
 (-25.6956, -51.6597),
 (49.1215, -85.8403),
 (21.4447, -157.8378),
 (-25.2406, 130.9889),
 (7.9178, 98.3332),
 (-22.47, -43.8256),
 (67.4667, 86.5833),
 (65.3667, 64.6667),
 (61.3833, 152.75),
 (43.4065, -124.2243),
 (-3.3836, -57.7186),
 (-21.3667, 55.6167),
 (-42.4667, 171.2),
 (61.8099, 36.5345),
 (64.3833, -173.3),
 (-20.3297, -40.2925),
 (70.3705, 31.1107),
 (-38.0023, -57.5575),
 (4.423, -7.3528),
 (62.2266, -6.589),
 (-23.943, 31.1411),
 (-20.2833, 44.2833),
 (30.9236, 66.4512),
 (-28.8667, 153.5667),
 (42.8, 93.45),
 (-9.1667, -60.6333),
 (43.2586, 18.1133),
 (20.7833, 97.0333),
 (19.2056, -69.3369),
 (35.1833, 132.5),
 (68.2191, -135.0107),
 (-19.1164, 33.4833),
 (-5.3582, 104.9744),
 (37.1041, -113.5841),
 (66.0, 111.5),
 (33.3317, -105.673),
 (52.5933, 58.3225),
 (71.0357, 27.8492),
 (52.0, 127.7),
 (11.2833, -15.8333),
 (43.4813, -5.4357),
 (64.7507, 20.9528),
 (27.8964, 102.2634),
 (-35.3378, 143.5544),
 (64.5667, 143.2),
 (66.7697, 123.3711),
 (-6.4667, 16.8167),
 (-38.3739, -60.2798),
 (-12.0167, 17.4833),
 (46.7216, -92.4594),
 (-7.4706, -34.8086),
 (-17.8786, 36.8883),
 (50.7214, 136.6319),
 (53.75, 127.2667),
 (30.3935, -86.4958),
 (46.3646, -79.9326),
 (33.4918, -80.8557),
 (-13.8483, 136.4192),
 (-3.2033, -52.2064),
 (-19.0595, -169.9187),
 (-41.45, 147.1667),
 (38.9092, -90.0407),
 (-35.1, 173.7833),
 (-12.0432, -77.0282),
 (-20.6667, -40.4975),
 (55.6244, 60.5076),
 (-14.8031, 36.5372),
 (60.7161, -135.0538),
 (15.85, -97.0667),
 (40.8, -96.667),
 (16.2833, -97.8167),
 (8.5185, -9.569),
 (-6.9811, -34.8339),
 (27.9095, -97.15),
 (30.4833, -115.95),
 (10.3744, 10.7288),
 (16.8634, -99.8901),
 (31.3271, -89.2903),
 (-0.2167, 20.8667),
 (13.4878, 106.9816),
 (7.7562, -8.8179),
 (16.3333, -15.0),
 (40.8167, -82.2665),
 (29.0331, 21.5482),
 (36.9559, 36.2),
 (-17.8333, -149.2667),
 (22.8, 85.9667),
 (-28.7667, 114.6),
 (-2.8856, -40.12),
 (39.8417, 45.6723),
 (13.5859, 102.9737),
 (63.2842, 118.3319),
 (5.928, -4.2132),
 (17.3333, 42.6667),
 (-12.7336, 45.2042),
 (13.6017, 26.6876),
 (-1.7711, -47.4381),
 (45.9189, 40.1589),
 (-28.5354, 24.5215),
 (-34.6534, -58.6198),
 (45.8, 130.85),
 (44.1833, 28.65),
 (-28.0167, 18.75),
 (12.1646, -61.7296),
 (-19.6667, 22.2667),
 (50.6996, -127.4199),
 (-6.7669, -43.0225),
 (52.9167, 54.75),
 (41.8825, 16.175),
 (-8.5406, -37.6903),
 (-3.3244, 114.591),
 (28.3667, 129.4833),
 (-4.5772, -81.2719),
 (11.6667, 92.75),
 (16.5314, 97.6111),
 (6.7989, 81.4808),
 (-17.8, -63.1667),
 (5.8833, -56.3167),
 (63.8424, -22.4338),
 (31.4167, 51.5667),
 (49.4867, 105.9228),
 (-16.6228, -72.7111),
 (-31.3833, -57.9667),
 (-35.1667, 173.1667),
 (32.296, -81.2354),
 (60.8156, -115.7999),
 (-23.1333, 150.7333),
 (-9.7915, 29.0791),
 (25.3833, 97.4),
 (78.2186, 15.6401),
 (-28.65, 153.6167),
 (60.7167, -46.0333),
 (32.7593, -97.7972),
 (59.0667, 5.9),
 (-45.4167, 167.7167),
 (21.4022, -157.7394),
 (2.0167, 112.9333),
 (-7.9139, 39.6668),
 (-31.4333, 152.9167),
 (33.0833, -16.3333),
 (-7.9135, 113.8214),
 (64.8945, -23.7142),
 (5.6667, 73.0),
 (51.1, 66.3167),
 (-0.7001, 10.2406),
 (-1.95, 18.2667),
 (-4.085, -63.1414),
 (-12.28, 43.7425),
 (50.147, 48.5704),
 (21.3469, -158.0858),
 (-20.0064, 57.6608),
 (69.2167, -51.1),
 (-35.7167, 150.1833),
 (3.1191, 35.5973),
 (3.8653, -67.9239),
 (48.2427, 27.6101),
 (37.0778, 41.2178),
 (13.2167, -59.5167),
 (63.7506, -68.5145),
 (-9.0763, 143.2092),
 (13.4667, 22.2),
 (65.7, 82.4667),
 (-32.035, -52.0986),
 (70.9963, 24.6622),
 (62.7167, 147.95),
 (41.5388, -8.6151),
 (65.9939, 57.5281),
 (21.0914, 71.7622),
 (36.0942, 28.0157),
 (-4.6667, -73.5167),
 (65.8167, 87.9833),
 (62.0788, 150.477),
 (19.5833, -88.05),
 (-9.2, 25.85),
 (-16.7, -151.0167),
 (42.2683, 118.9636),
 (-26.0333, 31.85),
 (57.8797, 43.8069),
 (39.8885, 4.2658),
 (22.5667, 95.7),
 (37.2242, 67.2783),
 (-23.865, 35.3833),
 (48.5872, 57.1869),
 (44.45, 28.4167),
 (49.9168, -109.4848),
 (7.5862, -1.9414),
 (-8.0089, -34.8553),
 (38.0373, -84.8966),
 (39.3042, 9.2036),
 (38.421, -121.4238),
 (49.4992, -98.0016),
 (39.85, -0.1833),
 (44.5834, -75.6826),
 (8.4596, 25.678),
 (7.7669, -72.225),
 (48.1, 136.1),
 (58.5169, -117.136),
 (15.7432, -96.4661),
 (20.15, -98.45),
 (36.6177, -121.9166),
 (11.1771, -4.2979),
 (26.1842, 127.7558),
 (47.5001, -120.5015),
 (54.9109, 71.2728),
 (-34.4833, -54.3333),
 (-10.4, 40.3333),
 (13.8333, -88.9167),
 (48.9329, -125.5528),
 (38.2019, 20.4314),
 (70.2396, 22.3479),
 (33.5959, 56.9244),
 (43.9298, 2.148),
 (58.965, -3.296),
 (19.8, 85.85),
 (29.2747, 82.1838),
 (13.8072, 8.9881),
 (69.7678, 21.0247),
 (-31.732, -60.5238),
 (25.95, 80.15),
 (12.4497, 125.2886),
 (51.0333, -4.2167),
 (61.9875, 5.1352),
 (43.2128, -75.4557),
 (34.0667, 136.2),
 (-5.2246, 145.7966),
 (59.6425, -151.5483),
 (-20.7333, 139.5),
 (3.1655, -52.3158),
 (50.677, 36.5532),
 (37.5683, 126.9778),
 (7.4167, 81.8167),
 (66.0449, -17.3389),
 (-10.0681, -78.1522),
 (6.1241, 81.1185),
 (39.6731, 33.6136),
 (63.4427, -20.2734),
 (18.4167, -64.6167),
 (58.6031, 125.3894)]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [20]:
# create a heatmap based on the csv
gmaps.configure(api_key=g_key)

fig = gmaps.figure(map_type='SATELLITE')

# generate some (latitude, longitude) pairs
locations = oldlist

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
# # narrow DataFrame
Newdata = data.loc[(data['Max Temp'] <= 80) & (data['Max Temp'] > 70) & (data['Wind Speed']<10) & (data["Cloudiness"]==0)]
Newdata

,Unnamed: 0,City_ID,City,City Country,City date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
62,62,63,port elizabeth,ZA,1665215590,-33.9180,25.5701,79.11,62,0,6.91
81,81,82,cabo san lucas,MX,1665215596,22.8909,-109.9124,75.61,71,0,5.93
117,117,118,corinto,GR,1665215609,37.9407,22.9573,72.90,44,0,8.72
207,207,208,east london,ZA,1665215382,-33.0153,27.9116,72.54,60,0,9.22
275,275,276,aligudarz,IR,1665215659,33.4006,49.6949,73.15,12,0,4.99
277,277,278,kaka,TM,1665215659,37.3482,59.6143,77.86,20,0,8.23
341,341,342,vila velha,BR,1665215677,-20.3297,-40.2925,76.95,83,0,3.44
348,348,349,chaman,PK,1665215679,30.9236,66.4512,75.81,5,0,5.82
359,359,360,saint george,US,1665215682,37.1041,-113.5841,72.19,37,0,5.01
380,380,381,destin,US,1665215687,30.3935,-86.4958,70.97,71,0,5.75
399,399,400,aransas pass,US,1665215693,27.9095,-97.1500,77.99,100,0,4.61
475,475,476,makakilo city,US,1665215717,21.3469,-158.0858,76.57,79,0,3.44
494,494,495,lardos,GR,1665215722,36.0942,28.0157,73.22,49,0,5.57
506,506,507,termiz,UZ,1665215728,37.2242,67.2783,73.49,16,0,4.61
514,514,515,sinnai,IT,1665215730,39.3042,9.2036,71.47,58,0,4.61
515,515,516,laguna,US,1665215730,38.4210,-121.4238,74.64,68,0,0.00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
# hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# locations = hotel_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map


# Display figure