# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [34]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
import csv
#
# import API key
from api_keys import g_key

import requests

url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Museum%20of%20Contemporary%20Art%20Australia&inputtype=textquery&fields=formatted_address%2Cname%2Crating%2Copening_hours%2Cgeometry&key=g_key"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

print(g_key)

AIzaSyCdFTCQkmPztlBzf5Y_PdgvVkfBtenTjTA

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [24]:
# load the csv
data = pd.read_csv("/Users/siyuanliang/BootCamp_University/Python-api-challenge/WeatherPy/Whether.csv")
data

,Unnamed: 0,City_ID,City,City Country,City date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,1,ewa beach,US,1665215568,21.3156,-158.0072,78.75,75,100,5.75
1,1,2,tuatapere,NZ,1665215568,-46.1333,167.6833,47.75,75,94,5.82
2,2,3,chokurdakh,RU,1665215569,70.6333,147.9167,23.50,88,100,24.34
3,3,4,albany,US,1665215317,42.6001,-73.9662,46.51,79,100,8.84
4,4,5,rikitea,PF,1665215569,-23.1203,-134.9692,71.24,66,3,20.83
...,...,...,...,...,...,...,...,...,...,...,...
559,559,560,hambantota,LK,1665215380,6.1241,81.1185,95.34,46,40,11.50
560,560,561,keskin,TR,1665215348,39.6731,33.6136,51.37,80,100,1.21
561,561,562,vestmannaeyjar,IS,1665215380,63.4427,-20.2734,47.07,85,100,10.00
562,562,563,road town,VG,1665215105,18.4167,-64.6167,80.69,75,3,17.81
563,563,564,aldan,RU,1665215108,58.6031,125.3894,24.76,92,100,6.29

In [27]:
# # narrow DataFrame
Newdata = data.loc[(data['Max Temp'] <= 80) & (data['Max Temp'] > 70) & (data['Wind Speed']<10) & (data["Cloudiness"]==0)]
Newdata

,Unnamed: 0,City_ID,City,City Country,City date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
62,62,63,port elizabeth,ZA,1665215590,-33.9180,25.5701,79.11,62,0,6.91
81,81,82,cabo san lucas,MX,1665215596,22.8909,-109.9124,75.61,71,0,5.93
117,117,118,corinto,GR,1665215609,37.9407,22.9573,72.90,44,0,8.72
207,207,208,east london,ZA,1665215382,-33.0153,27.9116,72.54,60,0,9.22
275,275,276,aligudarz,IR,1665215659,33.4006,49.6949,73.15,12,0,4.99
277,277,278,kaka,TM,1665215659,37.3482,59.6143,77.86,20,0,8.23
341,341,342,vila velha,BR,1665215677,-20.3297,-40.2925,76.95,83,0,3.44
348,348,349,chaman,PK,1665215679,30.9236,66.4512,75.81,5,0,5.82
359,359,360,saint george,US,1665215682,37.1041,-113.5841,72.19,37,0,5.01
380,380,381,destin,US,1665215687,30.3935,-86.4958,70.97,71,0,5.75
399,399,400,aransas pass,US,1665215693,27.9095,-97.1500,77.99,100,0,4.61
475,475,476,makakilo city,US,1665215717,21.3469,-158.0858,76.57,79,0,3.44
494,494,495,lardos,GR,1665215722,36.0942,28.0157,73.22,49,0,5.57
506,506,507,termiz,UZ,1665215728,37.2242,67.2783,73.49,16,0,4.61
514,514,515,sinnai,IT,1665215730,39.3042,9.2036,71.47,58,0,4.61
515,515,516,laguna,US,1665215730,38.4210,-121.4238,74.64,68,0,0.00

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [37]:
# create a heatmap based on the csv
gmaps.configure(api_key=g_key)

fig = gmaps.figure(map_type='SATELLITE')

# generate some (latitude, longitude) pairs
locations = [(51.5, 0.1), (51.7, 0.2), (51.4, -0.2), (51.49, 0.1)]

heatmap_layer = gmaps.heatmap_layer(locations)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
# hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure